<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDswu0rEris78gBhCyzdSc8b7nH6MoRqtc</string>
	<key>GCM_SENDER_ID</key>
	<string>754068557212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>progra4-upds</string>
	<key>STORAGE_BUCKET</key>
	<string>progra4-upds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754068557212:ios:8b004aabf040d430c48c59</string>
	<key>DATABASE_URL</key>
	<string>https://progra4-upds-default-rtdb.firebaseio.com</string>
</dict>
</plist>